%title xisbn return data
%h2 This is where xisbn formatted data will go!
%h3 but it is not there yet. :(
%p= xisbn_fetch(@xisbn)

<!-- this should be in haml but it isn't now because I am lazy -->
<a href="/" class="btn btn-primary">back to start</a>
